.btn-primary {
    background-color: #3B5998
}

.btn-primary:hover {
    /*color: #ffffff;*/
    background-color: #474e5d;

}

.btn-info {
    background-color: #009688;
    width: 200px;
    color: white;
    font-weight: bold;
    font-family: "Times New Roman";
}

btn-info :hover {
    background-color: #474e5d;
}

@media (max-width: 400px) {
    .col-md-3 {
        width: 49%;
    }
}

@media (max-width: 480px) {
    .col-md-3 {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .col-md-3 {
        width: 25%;
    }
}

@media (max-width: 320px) {
    .col-md-3 {
        width: 70%;
    }
}

@media (max-width: 360px) {
    .col-md-3 {
        width: 50%;
    }
}
@media (max-width: 375px) {
    .col-md-3 {
        width: 52%;
    }
}
@media (max-width: 411px) {
    .col-md-3 {
        width: 42%;
    }
}
@media (max-width: 100px) {
    .col-md-3 {
        width: 52%;
    }
}
