@media screen and (max-width: 999px) {
    .container {
        width: 100%;
    }

    #1st {
    width: 20%;
    }
    #2nd{
        width: 60%;
    }
    #3rd{
        width: 20%;
    }

}
@media screen and (max-width: 999px ) {
    .container{
        width: 100%;
        /*background-color: #006064;*/
    }
    #first{
        width: 25%;

    }
    #second{
        width: 25%;

    }
    #third{
        width: 25%;
    }
    #fourth{
        width: 25%;
    }

}
